* {
  margin: 5;
  padding: 0;
  /* background-color: azure; */
}

header{
  width: auto;
  height: 50px;
  background-color: aqua;
}

.about-me {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  padding: 10px;
  /* align-items: center; */
}

.about-me-items{
  padding: 10px;
  margin: 10px;
}

#name-en{
  font-size: 10px;
  font-family: "Playwrite AU VIC", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#name-jp{
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

p {
  padding: 0;
  margin: 0;  
  font-size: 15px;
}

#border{
  font-weight: bolder;
}

.me-box{
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.me-items{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #333;
}



footer{
  background-color: aliceblue;
}

.int-box{
  display: flex;
  flex-wrap: wrap;
}

img{
  width: 100%;
  height: 80%;
  border-radius: 10px;
}


.int-items{
  margin: 30px;
  padding: 30px;
  width: 15%;
  height: 70%;
  background-color: aquamarine;
  border-radius: 25px;
  text-align: center;
}




@media not all and (min-width:768px){
  .int-items{
    width: 30%;
  }
  .tools-items{
    width: 30%;
  }
  .minimg{
    width: 70%;
    height: 70%;
  }
  
}

.int-items:not(:nth-child(2n+2)){
  margin-right: 0;

}

a{
  text-decoration: none;
  color: #333;
}

.tools-box{
  display: flex;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.tools-items{
  padding: 30px;
  margin: 30px;
  width: 30%;
  height: auto;
  background-color: aqua;
  border-radius: 25px;
  font-weight: 600;
  font-family: 'Mona Sans', 'Noto Sans JP', sans-serif;

}

#me-img {
  width: 50%;
  height: auto;
  border-radius: 25px;
}

#me-img-box{
  width: 30%;
  height: auto;
}

#introduction{
  border: none;
  text-align: start;
}

.weight{
  font-weight: 600;
  font-size: 18px;
}